.hoverBox {
    /* background-color: lightgray;
    color: black;
    padding: 12px 24px;
    border-radius: 4px; */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
.hoverBox:hover {
    background-color: rgba(168, 180, 244, 0.472);
    color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;